<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>

My name is <b>Chenlong Wang</b> and I am living in Shanghai, China. I moved from a
moderate city, <a href="https://en.wikipedia.org/wiki/Lanzhou">Lanzhou</a>, to Shanghai in
2007 to start my bachelor degree in Tongji university. I directly upgraded to Ph.D.
student when I graduated as a bachelor in 2011. During my Ph.D. life, what I did is
studying how to explore hydrocarbon resource by the seismic method. My specific interests
are as follows:

<ul>
  <li>Seismic wavefield simulation</li>
  <li>multi-component imaging</li>
  <li>data assimilation</li>
</ul>

I am newly working for AI laboratory in the SAIC motor. What I am doing is optimization of
supply chain in automotor industry with assistant of the machine learning techniques. More detailed information is available in my <u><b>curriculum vitae</b></u> or <u><b>resume</b></u>.

<h2>About posts </h2>

<ul>
<li>This site is constructed for sharing some notes about programming, learning some interesting theory and marking my life. </li>
<li>Due to my limited ability, mistakes are inevitable in the posts and I am <em>not</em>
responsible for the corresponding consequences :P </li>
</ul>
</br>
<b>Contact Info:</b> clwang88@gmail.com
</div>
